{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>About Us</h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <p>Our company is a leading provider of delicious pizzas. We are committed to providing the best quality pizzas to our customers.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h4>Our Team</h4>
            <p>Our team is composed of dedicated and passionate individuals who are experts in their fields. We work together to deliver the best pizzas to our customers.</p>
        </div>
    </div>
</div>
{% endblock %}